.container-ceps-founder {
position: absolute;
display: flex;
flex-wrap: wrap;
height: 87vh;
right: 0;
width: 79%;
justify-content: center;
align-items: center;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-cep {
  border: 1px solid var(--bg-text-color);
  color: var(--main-text-color);
  margin: 5px 5px;
  padding: 8px;
}
