.container-header {
  display: flex;
  top: 0;
  align-items: center;
  right: 50px;
  height: 10vh;
  margin: 10px;
  justify-content: center;
}

.container-header h2 {
  color: var(--bg-text-color);
  font-size: 30px;
  font-weight: 700;
  margin-left: 50px;
  margin-right: 50px;
}

.square {
  animation: rotate 10s linear infinite;
  border: 3px solid var(--bg-text-color);
  height: 35px;
  width: 35px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
