.square {
  animation: rotate 10s linear infinite;
  border: 3px solid var(--bg-text-color);
  height: 35px;
  width: 35px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
