.container-home {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
}

.container-home .title-playground {
  font-size: 50px;
  margin-top: 10vh;
  color: var(--bg-text-color);
}

.container-name {
  display: flex;
  flex-direction: column;
  height: 550px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.input-name {
  background-color: white;
  margin: 50px;
  text-align: center;
  height: 30px;
  width: 300px;
}

.btn-home {
  display: flex;
  padding: 1rem 2.8rem;
  background: var(--bg-text-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--bg-text-color);
  font-size: 18px;
  color: rgb(0, 0, 0);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;
}

.btn-enviar:hover {
  box-shadow: none;
}

@media (max-width: 768px) {
  .container-name {
    height: 300px;
    width: 100vh;
  }

  .container-home .title-playground {
    font-size: 1.5rem;
  }

  .container-name {
    height: 300px;
    width: 100vh;
  }

  .input-name {
    width: 200px;
    height: 20px;
  }

  .btn-enviar {
    display: flex;
    padding: 1rem .8rem;
    background: var(--bg-text-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--bg-text-color);
    font-size: 12px;
    color: white;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
  }

}
