.container-nav-bar {
  position: absolute;
  left: 0;
}

.container-nav-bar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 87vh;
  width: 30vh;
  background-color: var(--bg-text-color);
}

.container-nav-bar ul li {
  text-decoration: none;
  list-style-type: none;
  background-color: var(--bg-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vh;
  height: 100vh;
}

.menu-item {
  background-color: var(--bg-text-color);
  color: var(--main-text-color);
  font-size: 22px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-nav-bar ul li:hover {
  background-color: var(--main-text-color);
  color: var(--bg-text-color);
  .menu-item {
    background-color: var(--main-text-color);
    color: var(--bg-text-color);
  }
}

.ativo {
  background-color: var(--main-text-color);
  color: var(--bg-text-color);
  width: 30vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
